<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="content">

    <h1 class="page-header">회원 목록</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>아이디</th>
            <th>닉네임</th>
            <th>나이</th>
            <th>성별</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.memberId}"></td>
            <td th:text="${member.nickName}"></td>
            <td th:text="${member.age}"></td>
            <td th:text="${member.sex}"></td>
        </tr>
        </tbody>
    </table>
</div>

</th:block>
</body>
</html>